# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.so
*.dylib
src/dimq/_version.py

# Virtual environments
.venv/

# pytest
.pytest_cache/

# Rust
dimq_load_task/target/
dimq_load_task/Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
